# Byte-compiled / cache
__pycache__/
*.py[cod]

# Entorno local
.env
.venv/
venv/
*.egg-info/
saved_models/ner_model/

# Logs
*.log

# Docker
*.env.local
docker-compose.override.yml

# Conda env export
/environment.yml

# Uvicorn reload file
reload.db

# VSCode
.vscode/

# PyCharm
.idea/

# Ignora sólo artefactos de Alembic, no los scripts de migración
alembic/*.pyc
alembic/__pycache__/
